# /etc/systemd/system/hackandtell-python.service
[Unit]
Description=Hack and Tell Timer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/home/pi/hackandtell-python/systemd/local.conf
WorkingDirectory=/home/pi/hackandtell-python
ExecStart=/usr/bin/python3 /home/pi/hackandtell-python/hackandtell-pygame.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
